@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-style: 40px;
}

main {
    text-align: center;
}

.logo {
    width: 25vw;
}

.btn {
    border-radius: 15px;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 2px 3px 5px lightgray;
}

.btn:hover {
    background-color: dodgerblue;
}